<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/index.css">
  <link rel="stylesheet" href="/styles/navbar.css">
  <link rel="stylesheet" href="/styles/form-page.css">

  <title><%= title %></title>
</head>

<body>
  <%- include("partials/navbar.ejs") %>

  <main>
    <div>
      <% if (page === "sign-in") { %>
        Welcome back!
      <% } else if (page === "sign-up") { %>
        Welcome onboard!
      <% } %>
    </div>
    <form action="<%= actionRoute %>" method="POST">
      <div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" autofocus required>
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
      </div>
      <% if (page === "sign-up") { %>
        <div>
          <label for="confirm-password">Confirm Password</label>
          <input type="password" name="confirmPassword" id="confirm-password" required>
        </div>
        <div>
          <label for="first-name">First name</label>
          <input type="text" name="first_name" id="first-name" required>
        </div>
        <div>
          <label for="last-name">Last name</label>
          <input type="text" name="last_name" id="last-name" required>
        </div>
      <% } %>
      <button type="submit">
        <% if (page === "sign-in") { %>
          Sign In
        <% } else if (page === "sign-up") { %>
          Sign Up
        <% } %>
      </button>
    </form>
  </main>
</body>

</html>
