<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/index.css">
  <link rel="stylesheet" href="/styles/navbar.css">
  <link rel="stylesheet" href="/styles/riddle-page.css">

  <title>DevLounge | Riddle</title>
</head>

<body>
  <%- include("partials/navbar.ejs") %>

  <main>
    <% if (locals.errorMessage) { %>
      <section class="answer-error">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
          stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <circle cx="12" cy="12" r="10" />
          <path d="m15 9-6 6" />
          <path d="m9 9 6 6" />
        </svg>
        <%= errorMessage %>
      </section>
    <% } %>

    <header>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path
          d="M11.562 3.266a.5.5 0 0 1 .876 0L15.39 8.87a1 1 0 0 0 1.516.294L21.183 5.5a.5.5 0 0 1 .798.519l-2.834 10.246a1 1 0 0 1-.956.734H5.81a1 1 0 0 1-.957-.734L2.02 6.02a.5.5 0 0 1 .798-.519l4.276 3.664a1 1 0 0 0 1.516-.294z" />
        <path d="M5 21h14" />
      </svg>
      <p>Become a member</p>
    </header>

    <div>
      <div>Here's a riddle for you</div>
      <p>
        I am small, yet I hold great power. Without me, code can collapse into chaos. In Python, I am ignored, but in
        C, my
        absence is a fatal mistake. I quietly sit at the end of statements, ensuring order in the programming world.
        Forget me,
        and you will face errors; misuse me, and confusion follows. Who am I?
      </p>
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
          stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M12 6v12" />
          <path d="M17.196 9 6.804 15" />
          <path d="m6.804 9 10.392 6" />
        </svg>
        The answer is a single character
      </div>
    </div>

    <form action="/become-knight" method="POST">
      <input type="text" name="answer" placeholder="your answer ..." autofocus required maxlength="1">
      <button type="submit">Submit</button>
    </form>
  </main>

</body>

</html>
