body {
  background-color: #0f0f0f;
  min-height: 100vh;

  color: #fafaff;

  display: flex;
  justify-content: center;
}

main {
  margin-top: 8rem;
  margin-bottom: 2rem;
  padding: 0 1rem;

  & > div {
    padding: 2rem 1.5rem;
    background-color: #0d2818aa;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    color: lightgrey;
    font-family: "Audiowide", sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
  }

  & > form {
    background-color: #161a1d;
    padding: 1.5rem 2rem;
    width: min(400px, 90vw);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    & > div {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      & > label {
        font-size: 0.9rem;
        color: #16db65;

        margin-left: 0.2rem;
      }

      & > input {
        padding: 0.6rem;
        border-radius: 5px;
        background-color: #343a40;
        background-color: #0d2818;
        border-bottom: 2px solid #058c42;
      }

      & > input:focus {
        border-bottom: 2px solid #16db65;
      }
    }

    & > button {
      width: fit-content;
      padding: 0.8rem 1.5rem;
      border-radius: 10px;
      background-color: #0d2818;

      color: #16db65;
    }

    & > button:hover {
      color: #ccff33;
    }
  }
}

.sign-in-error {
  display: flex;
  align-items: center;
  gap: 1rem;

  background-color: #d6282844;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  border: 1px solid #d62828;

  color: #d62828;

  & > svg {
    width: 1.2rem;
    height: 1.2rem;
  }
}
