@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: "Inter", sans-serif;
}

a {
  font-size: inherit;
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
}

button {
  cursor: pointer;
}
