@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: "Inter", sans-serif;

  scrollbar-width: thin;
  scrollbar-color: #058c42 #020202;
}

a {
  font-size: inherit;
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
}

button {
  cursor: pointer;
  appearance: none;
  border: none;

  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
}

input,
textarea {
  appearance: none;
  border: none;
  outline: none;

  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  font-family: inherit;
}
